body {
  font-family: Lato, Verdana, sans-serif;
  background: url("https://i.ibb.co/7kHjR0D/travel-virus-transparent.jpg");
  background-size: 85%;
  background-position-x: center;
  text-align: center;
}

h2 {
  color: #4983b9c9;
}

button {
  background-color: #ffa600a6;
  color: white;
  padding: 7px 7px;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
}